{% from 'macro/button.twig' import button %}
{% from 'macro/forms.twig' import input as input, textarea, checkbox, radio %}

<div class="container">
    <h3>Twig macro examples</h3>
    <div class="d-grid gap-4">
        <div>
            {{ button('Macro button') }}
            {{ button('Macro button', 'tertiary') }}
            {{ button('index2', 'danger', 'index2') }}
        </div>
        <div class="d-grid gap-3">
            {{ input('Macro input') }}
            {{ input('Macro input', 'password') }}
        </div>
        <div>
            {{ textarea('Macro textarea') }}
        </div>
        <div>
            {{ checkbox('Macro checkbox 1') }}
            {{ checkbox('Macro checkbox 2') }}
        </div>
        <div>
            {{ radio('Macro radio 1', 'radio') }}
            {{ radio('Macro radio 2', 'radio') }}
        </div>
        <div>
            <h4>Choices JS</h4>
            <div class="mb-3">
                <select class="form-select js-choice">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select js-choice">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select js-choice">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
        </div>
    </div>
</div>
